.Header {
	height              : 100vh;
	min-height:  70vw;
	background-image    : url('./assets/header-map.png');
	background-size     : 100% auto;
	background-repeat   : no-repeat;
	background-position : top 0 center;
	font-family         : Helvetica;
}


.caption {
	padding-top : 80px;
	width       : 440px;
	max-width   : 100%;
	margin      : 0 auto;
	text-align  : center;
	color       : white;
}
.caption-bottom {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	width       : 668px;
	max-width   : 100%;
	margin      : 0 auto;
	text-align  : center;
	color       : #ECD8EB;
}
.caption-title{
	font-size : 46px;
}
.caption-subtitle {
	color      : rgba(255,255,255,0.46);
	margin-top : 5px;
	line-height: 24px;
}

.cta {
	position    : absolute;
	bottom      : 20%;
	left        : 50%;
	margin-left : -384px;
	width       : 768px;
	max-width   : 100%;
	text-align  : center;
}
.cta-signup {
	text-decoration  : none;
	display          : inline-block;
	background-image : linear-gradient(137deg, #FBC2EB 0%, #A18CD1 100%);
	border-radius    : 26px;
	height           : 48px;
	padding          : 0;
	line-height      : 48px;
	width            : 172px;
	text-align       : center;
	margin           : 0 20px;
	color            : #28385B;
	position         : relative;
}
.cta-signup:after {
	content             : "";
	position            : absolute;
	z-index             : -1;
	top                 : -26px;
	left                : -26px;
	right               : -26px;
	bottom              : -26px;
	background-image    : url('./assets/btn-blur.png');
	background-size     : contain;
	background-repeat   : no-repeat;
	background-position : center center;
}

.cta-learnmore {
	text-decoration     : none;
	display             : inline-block;
  background-image    : url('./assets/learnmore-btn-bg.svg');
	background-size     : contain;
	background-repeat   : no-repeat;
	background-position : center center;
	width               : 172px;
	height              : 48px;
	line-height         : 48px;
	border-radius       : 26px;
	margin: 0 20px;
	background-color    : #263554;
	color               : #fff;
}
